<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ dataUser.full_name }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="col-12 col-sm-12">
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
          <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-code-tab"
                data-toggle="pill"
                href="#custom-tabs-four-code"
                role="tab"
                aria-controls="custom-tabs-four-code"
                aria-selected="false"
                >Code</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-issues-tab"
                data-toggle="pill"
                href="#custom-tabs-four-issues"
                role="tab"
                aria-controls="custom-tabs-four-issues"
                aria-selected="true"
                >Issues</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-pull-tab"
                data-toggle="pill"
                href="#custom-tabs-four-pull"
                role="tab"
                aria-controls="custom-tabs-four-pull"
                aria-selected="false"
                >Pull Request</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-action-tab"
                data-toggle="pill"
                href="#custom-tabs-four-action"
                role="tab"
                aria-controls="custom-tabs-four-action"
                aria-selected="false"
                >Action</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-project-tab"
                data-toggle="pill"
                href="#custom-tabs-four-project"
                role="tab"
                aria-controls="custom-tabs-four-project"
                aria-selected="false"
                >Project</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-security-tab"
                data-toggle="pill"
                href="#custom-tabs-four-security"
                role="tab"
                aria-controls="custom-tabs-four-security"
                aria-selected="false"
                >Security</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="custom-tabs-four-insight-tab"
                data-toggle="pill"
                href="#custom-tabs-four-insight"
                role="tab"
                aria-controls="custom-tabs-four-insight"
                aria-selected="false"
                >Insight</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-four-tabContent">
            <div
              class="tab-pane fade show active"
              id="custom-tabs-four-code"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-code-tab"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
              malesuada lacus ullamcorper dui molestie, sit amet congue quam
              finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam
              odio magna, mollis auctor felis vitae, ullamcorper ornare ligula.
              Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam
              id. Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Proin id orci eu lectus blandit
              suscipit. Phasellus porta, ante et varius ornare, sem enim
              sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta
              sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In
              in quam a nibh cursus pulvinar non consequat neque. Mauris lacus
              elit, condimentum ac condimentum at, semper vitae lectus. Cras
              lacinia erat eget sapien porta consectetur.
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-issues"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-issues-tab"
            >
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <grid-view
                          [columns]="columns"
                          [data]="data"
                          [display]="displayCallback"
                          [view]="viewCallback"
                          [options]="option"
                        ></grid-view>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-pull"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-pull-tab"
            >
              Mauris tincidunt mi at erat gravida, eget tristique urna bibendum.
              Mauris pharetra purus ut ligula tempor, et vulputate metus
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Vestibulum ante ipsum primis in faucibus orci luctus et
              ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a
              luctus interdum, nisl ligula placerat mi, quis posuere purus
              ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies
              at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-action"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-action-tab"
            >
              Mauris tincidunt mi at erat gravida, eget tristique urna bibendum.
              Mauris pharetra purus ut ligula tempor, et vulputate metus
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Vestibulum ante ipsum primis in faucibus orci luctus et
              ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a
              luctus interdum, nisl ligula placerat mi, quis posuere purus
              ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies
              at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-project"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-project-tab"
            >
              Mauris tincidunt mi at erat gravida, eget tristique urna bibendum.
              Mauris pharetra purus ut ligula tempor, et vulputate metus
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Vestibulum ante ipsum primis in faucibus orci luctus et
              ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a
              luctus interdum, nisl ligula placerat mi, quis posuere purus
              ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies
              at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-security"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-security-tab"
            >
              Morbi turpis dolor, vulputate vitae felis non, tincidunt congue
              mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus
              faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac
              tristique nulla. Integer vestibulum orci odio. Cras nec augue
              ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada
              nunc. Curabitur eleifend facilisis velit finibus tristique. Nam
              vulputate, eros non luctus efficitur, ipsum odio volutpat massa,
              sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex
              vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum
              metus arcu vel metus. Curabitur eget sem eu risus tincidunt
              eleifend ac ornare magna.
            </div>
            <div
              class="tab-pane fade"
              id="custom-tabs-four-insight"
              role="tabpanel"
              aria-labelledby="custom-tabs-four-insight-tab"
            >
              Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque
              magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris
              eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi
              euismod molestie tristique. Vestibulum consectetur dolor a
              vestibulum pharetra. Donec interdum placerat urna nec pharetra.
              Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat
              diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse
              platea dictumst. Praesent imperdiet accumsan ex sit amet
              facilisis.
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <issue-detail [displayData]="displayCallback" [issueDetail]="issueDetail">
    </issue-detail>
  </section>
</div>
