<div class="form-group row">
  <div class="col-md-5">
    <label>Search Filter issue</label>
    <select
      class="form-control"
      [(ngModel)]="options.filter"
      (change)="filter()"
    >
      <option value="open">Open</option>
      <option value="closed">Closed</option>
    </select>
  </div>
</div>
<div style="overflow-x: scroll">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let c of columns">
          {{ c.text }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of data.items">
        <td>
          <a
            href="javascript:"
            (click)="view(r)"
            style="margin-right: 5px"
            data-toggle="modal"
            data-target="#modal-default"
          >
            <i class="fa fa-search"> </i>
          </a>
        </td>
        <td *ngFor="let c of columns">
          {{ r[c.field] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group row" style="margin-top: 15px">
  <div class="col-md-4 pull-left" style="padding-left: 20px">
    <strong>Total Rows: {{ data.total_count }} </strong>
  </div>
  <div class="col-md-8" style="text-align: right">
    <strong>Page Size </strong>
    <select
      name="pageSize"
      id="pageSize"
      [(ngModel)]="options.per_page"
      style="
        border: solid 1px #ccc;
        padding: 4px;
        border-radius: 3px;
        width: 50px;
        margin-right: 10px;
      "
      (change)="PageSizeChange()"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <strong>Page </strong>
    <input
      type="text"
      name="pageIndex"
      [(ngModel)]="options.page_offset"
      style="
        border: solid 1px #ccc;
        padding: 4px;
        border-radius: 3px;
        width: 30px;
      "
      (keyup)="changePage()"
    />
    <strong style="margin-right: 15px"> / {{ data.page_count }}</strong>
    <button class="no-rad btn btn-default btn-sm" (click)="prev()">
      <i class="fa fa-angle-left" style="margin-right: 8px"></i>Prev
    </button>
    <button class="no-rad btn btn-default btn-sm" (click)="next()">
      Next
      <i class="fa fa-angle-right" style="margin-left: 5px"></i>
    </button>
  </div>
</div>
